<!-- 文章页样式 -->
<%- css('css/post.css') %>
<div class="post-content">
	<div>
		<div class="post markdown-body">
			<%- page.content %>
		</div>
	</div>
	
	<div class="detail">
		
	</div>
</div>
<div id="gitalk-container">
</div>
