<div class="post-content">
	<div class="post markdown-body">
		<%- page.content %>
	</div>
	<div class="sidebar-item">
		<!-- 用户信息 -->
		<%-include("public/userInfo.ejs")%>
		<!-- 章节 -->
		<%-include("public/chapter.ejs")%>
	</div>
</div>
