<!-- 分类模块 -->
<div class="sidebar categorys">
	<h1 class="big-title">
		<i class="icons i-categories"></i>
		CATEGORYS
	</h1>
	<div class="list-item">
		<%
			function categorys(arr) {
				arr.forEach(el => {
					if (el.parent) {
						let finds = arr.find(_el => _el._id === el.parent);
						if (!finds.child) {
							finds.child = new Array();
						}
						finds.child.push(el);
					}
				})
				let	id = [];
				function render(_arr,deep = 0) {
					let html = "";
					_arr.forEach((el,index) => {
						if (id.indexOf(el._id) === -1) {
							html += `<p style="padding-left:${30 * deep}px" class="categories">
							${index === 0 && deep !== 0 ? `<i class="icons next-level i-next-level"></i>` : ''}
							<a href="/${el.path}">${el.name}</a>
							<span>(${el.posts.length})</span>
							</p>
							${el.child ? render(el.child,deep + 1) : ""}`
							id.push(el._id);
						}
					})
					return html;
				}
				return render(arr);
			}
		%>
		<%- categorys(site.categories.map(el => el)) %>
	</div>
</div>