<!-- 目录模块 -->
<% 
	let tocEl =  toc(page.content,{list_number:true});
	if (tocEl) { 
-%>
	<div class="sidebar toc">
		<h1 class="big-title">
			<i class="icons i-chapter"></i>
			TOC
		</h1>
		<div class="list-item toc">
			<%- tocEl %>
		</div>
	</div>
<% } -%>
