.archives-list {
	width: 100%;
	height: auto;
	list-style: none;
}

.archives-list .date {
	margin-bottom: 25px;
	font-size: 18px;
	color: var(--archives-list-color);
}

.archives-list .date .icons {
	font-size: 18px;
}

.archives-list .post {
	min-height: 50px !important;
}

.archives-list .post .titles {
	height: 24px;
	max-width: 100%;
	font-size: 18px;
	overflow: hidden;
	font-weight: bold;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
}