.flex-item {
	width: 1200px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.flex-item .post-list {
	width: 880px;
}

.flex-item .post-list .post {
	width: 100%;
	padding: 15px;
	margin: 0 auto;
	min-height: 50px;
	border-radius: 8px;
	margin-bottom: 28px;
	background-color: var(--default-bgcolor);
	box-shadow: 0 8px 20px var(--default-box-shadow-color);
}

.flex-item .post-list .post .link.title {
	height: 24px;
	max-width: 100%;
	font-size: 18px;
	overflow: hidden;
	font-weight: bold;
	white-space: nowrap;
	display: inline-block;
	text-overflow: ellipsis;
}

.flex-item .post-list .post .introduction {
	width: 100%;
	height: auto;
	font-size: 14px;
}

.flex-item .post-list .post .other-data {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	margin-top: 8px;
	align-items: center;
	padding-right: 158px;
	justify-content: flex-start;
}

.flex-item .post-list .post .other-data .delimiter::after {
	content: "/";
	margin: 0 4px;
}

.flex-item .post-list .post .other-data * {
	color: var(--post-other-color);
	font-size: 14px;
}

.flex-item .post-list .post .other-data .tag {
	margin-right: 8px;
}

.flex-item .post-list .post .other-data *:before {
	margin-right: 4px;
}

.flex-item .post-list .post .date {
	width: auto;
	float: right;
	text-align: right;
	line-height: 19px;
	margin-top: -19px;
}

.flex-item .post-list .post .date * {
	color: var(--post-data-color);
	font-size: 13px;
}

.flex-item .post-list .post .date .icons {
	margin-right: 4px;
}