.post-content{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.post-content .post{
	transition: box-shadow 300ms;
	width: 880px;
	background: var(--default-bgcolor);
	border-radius: 8px;
	padding: 30px 15px;
	box-shadow: 0 8px 20px var(--default-box-shadow-color);
}
